
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }
  
  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;  
    grid-auto-flow: row;
    grid-template-areas:
      ".";
    grid-area: header;
    background-color: var(--bgSite);
  }

  .header-content-text {
      padding-top: 5.5rem;

      padding-left: 3rem;
      padding-right: 5rem;

      text-align: left;
  }
  
  .header-content-text h1 {

    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 3rem;

    line-height: 147%;

    color: var(--title);

  }

  .header-content-text p {
    
    margin-top: 1.125rem;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;

    line-height: 178%;

    color: var(--text);

    margin-bottom: 2rem;
  }

  .header-content-text button {
  
    background-color: var(--buttonColor);
    color: var(--white);
    
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    border-radius: 5px;

    width: 155px;
    height: 50px;

    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    line-height: 1.5rem;
  }

  .header-content-text button:hover {
    background-color: var(--buttonColorHover);
    transition: 0.8s;

  }

  
  .header-content-text button a{
    color: var(--white);
  }
  .header-content-text button a:hover{
    color: var(--buttonColor);
  }
  .header-content-img img {
    width: 75%;
    height: auto;

    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5.511rem;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ".";
    grid-area: content;
    background-color: var(--white300);

    padding-top: 8.688rem;


  }

  .content article {

    display: grid;
    justify-content: center;
    text-align: left;

    margin-bottom: 3.5rem;

  }

  .content article:nth-child(1) div:nth-child(1) {
    background-color: #FF6363;
  }

  .content article:nth-child(2) div:nth-child(1) {
    background-color: #63ECFF;
  }

  .content article:nth-child(3) div:nth-child(1) {
    background-color: #F363FF;
  }

  .content article:nth-child(4) div:nth-child(1) {
    background-color: #63FF73;
  }

  .content article:nth-child(5) div:nth-child(1) {
    background-color: #FFDD63;
  }


  .content article:nth-child(6) div:nth-child(1) {
    background-color: #6663FF;
 }

  .content article div{
      width: 375px;
      height: 222px;
      background-color: var(--white);

      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

      padding-top: 24px;
      padding-left: 33px;
      padding-right: 33px;

  }

  .content article div h2{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 167%;

    color: var(--title);
}

.content article div p{
    font-family: 'Lato', serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 167%;

    color: var(--text);

    padding-top: 26px;

}

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ".";
    grid-area: footer;
    background-color: var(--bgSite);
    
    text-align: center;

    padding-left: 50px;
    padding-right: 50px;

  }


  .footer legend{
    margin-top: 83px;
    margin-bottom: 36px;

    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    
    color: var(--title);
}




  .footer form textarea {
    width: 100%;
    border-radius: 5px;
    border: none;
}

  .footer form input{
    width: 100%;
    height: 60px;
    border-radius: 5px;

    margin-bottom: 20px;
  }

  .footer form input::placeholder,   .footer form textarea::placeholder {

    color: rgba(110, 114, 117, 0.74);

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    padding-left: 12px;
    padding-top: 20px;

  }

  .footer input[type="button"]
  {
    width: 475px;
    height: 50px;
    
    background: #6C63FF;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    border-radius: 5px;

    margin-top: 45px;
    margin-bottom: 56px;

    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: var(--white);

  } 

  @media (min-width: 780px) {


    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ".";
        grid-area: header;
        background-color: var(--bgSite);
        justify-content: center;
    
        padding-left: 20px;
        padding-bottom: 50px;
      }

      .header-content-img img {
        padding-top: 50px;

      }

      .header-content-img img {
        width: 75%;
        height: auto;
    
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 5.511rem;
      }
      
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ".";
        grid-area: content;
        background-color: var(--white300);
      }

      .footer {
        padding-left: 250px;
        padding-right: 250px;
      }
      .footer form{
        max-width: 100%;
        max-height: auto;

      }

      .footer form textarea {
        width: 470px;
        border-radius: 5px;
        border: none;
    
    }
      .footer form input{
        width: 470px;
        height: 60px;
        border-radius: 5px;
    
        margin-bottom: 20px;
      }
  }


  @media (min-width: 1440px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "header header header"
          "content content content"
          "footer footer footer";
      }
      
      .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ".";
        grid-area: header;
        background-color: var(--bgSite);
        justify-content: space-between;

        padding-top: 100px;
        
        padding-left: 50px;
        padding-right: 50px;
        
      }

      .header-content-text h1 {
          font-size: 36px;
          margin-right: 200px;

      }

      .header-content-text p {
        font-size: 19px;

        margin-right: 200px;
        padding-top: 30px;
        padding-bottom: 30px;

    }


      .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . .";
        grid-area: content;
        background-color: var(--white300);
        padding-left: 50px;
        padding-right: 50px;

      }

      .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ".";
        grid-area: footer;
        background-color: var(--bgSite);
        margin-top:0px;
        margin-bottom: 0px;
      } 
    
  }
